{
  "extends": "eslint:recommended",
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "no-console": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "require-atomic-updates": "off"
  }
}
